/* landingpage.css */
body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3c1eff,#e336c9, #4a64cc); /* Gradiente de fondo */
  }
  
  .h-screen {
    height: 100vh; /* Altura completa de la ventana */
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center; /* Centrado horizontal */
  }
  .margin-left {
    margin-left: 31rem; /* Ajusta el tamaño según sea necesario */
  }
  
  .items-center {
    align-items: center; /* Centrado vertical */
  }
  
  .text-center {
    text-align: center;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Resto de estilos */
  .w-36 {
    width: 9rem;
  }
  
  .h-36 {
    height: 9rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-gray-800 {
    color: #2d3748;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-gray-600 {
    color: #4a5568;
  }
  
  .bg-green-500 {
    background-color: #48bb78;
  }
  
  .bg-green-600 {
    background-color: #38a169;
  }
  
  .hover\:bg-green-600:hover {
    background-color: #38a169;
  }
  
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .rounded {
    border-radius: 0.25rem;
  }
  
  .transition {
    transition: all 0.3s ease;
  }
  
  .duration-300 {
    transition-duration: 300ms;
  }
  